.container {
    background-color: white;
    padding: 80px;
    margin-left: 740px;
    max-width: 700px;
}

h1{
    margin-left: 220px;
    padding-top: 200px;
}

.form-group{
    margin-left:60px;
    padding-top: 15px;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
}

img {
    object-fit: cover;
    width: 800px;
    height: 820px;
}
